{% extends "notes/base.html" %}

{% load static %}
{% block content %}


<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <a class = "urls" href="{% url 'index' %}">Anotações</a>
  <a class = "urls" href="{% url 'tag_list' %}">Tags</a>
</div>
<div class="lista">
  <h2>Tags Usadas</h2>
      {% for tag in tags %}
      <ul>
        <a href="{% url 'tag_info' tag.id %}">{{tag.tag}}</a>
      </ul>
      {% endfor %}
</div>

{% endblock %}