{% extends "notes/all_tags.html" %}

{% load static %}
{% block content %}

<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    <a class = "urls" href="{% url 'index' %}">Anotações</a>
    <a class = "urls" href="{% url 'tag_list' %}">Tags</a>
</div>

<h2>Anotações Filtradas</h2>
{% for note in notes %}
{% if note != "" %}
    <li class="card" key="{id}">
        <h3 class="card-title" method="put">{{note.title}}</h3>
        <div class="card-content">
            <p class="card-content" method="put">{{note.content}}</p>
        </div>
    </li>
{% endif %}
{% endfor %}





{% endblock %}