{% extends "films/base.html" %}
{% entends "films/film.html"}
{% load static %}
<script src="{% static 'films/script/getit.js' %}"></script>

{% block content %}
<body>
    <div class="appbar">
        <img src="{% static 'films/img/logo-getit.png' %}" class="logo" />
        <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>

    <main class="container">
      <form class="form-card" method="post">
        {% csrf_token %}
        <input
          class="form-card-title"
          type="text"
          name="titulo"
          placeholder="Título"
        />
        <button class="btn" type="submit">Criar</button>
      </form>

      <div class="card-container">
        {% block films %} {% endblock %}
      </div>
    </main>

    <script type="text/javascript" src="{% static 'films/script/getit.js' %}"></script>
  </body>
{% endblock %}